BoardsContainerWidget {
    width: 1fr;
    height: 100%;
    outline: solid white;
    margin: 1;
    background: $surface 100%;
    align-horizontal: center;
}

BoardsContainerWidget > Label {
    margin-left: 1;
    margin-bottom: 1;
}

BoardsContainerWidget > ListView {
    width: 95%;
    height: 95%;
}

BoardsContainerWidget > ListView > ListItem {

}