LanesContainer {
    width: 3fr;
    height: 100%;
    background: $surface;
    outline: solid white;
    margin: 1;
    layout: horizontal;
}

LanesContainer > Label {
    margin-left: 1;
    margin-bottom: 1;
}
