LaneWidget {
    width: 37;
    height: 100%;
    outline: solid white;
    border: tall white;
    background: $secondary 100%;
    margin: 1;
}


LaneWidget > ListView {
    background: $secondary;
}

LaneWidget > ListView > ListItem {

}