LanesContainerWidget {
    width: 4fr;
    height: 100%;
    background: $surface;
    outline: solid white;
    margin: 1;
    layout: horizontal;
}

LanesContainerWidget > Label {
    margin-left: 1;
    margin-bottom: 1;
}

LanesContainerWidget > ListView {
    width: 95%;
    height: 95%;
}
